[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
marshmallow = "*"
flask-jwt-extended = "*"
pylint = "*"
flask-cors = "*"
gunicorn = "*"
firebase-admin = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.10"
